.tc{
    text-align: center;
}
.fz-1{
    font-size: 75px;
}
.d-1{
    border: 1px solid whitesmoke;
    background-color: silver;
    width: 80%;
}
.fz-2{
    font-size: large;
    font-weight: 800;
}
.d-flex{
    display: flex;
}
.m-auto{
    margin: auto;
}
.se{
    display: flex;
    justify-content: space-evenly;
}
.d-2{
    border: 1px solid whitesmoke;
    width: 80%;
}
.ff{
    font-size: 40px;
}
.d-3{
    border: 1px solid pink;
    padding: 5px;
    margin-top: 5px;
}
.p{
    width: 350px;
}
.mb{
    margin-bottom: 20px;
}