.tc{
    text-align: center;
}
.fz-1{
    font-size: 75px;
}
.d-1{
    border: 1px solid whitesmoke;
    background-color: silver;
    width: 80%;
}
.fz-2{
    font-size: larger;
    font-weight: 800;
}
.d-flex{
    display: flex;
}
.m-auto{
    margin: auto;
}
.se{
    display: flex;
    justify-content: space-evenly;
}
.d-2{
    border: 1px solid whitesmoke;
    width: 80%;
}
.ff{
    font-size: 40px;
}
.d-3{
    border: 1px solid pink;
    padding: 5px;
    margin-top: 5px;
}
.p{
    width: 350px;
}
.mb{
    margin-bottom: 20px;
}
.wi{
    width: 100%;
    background-color: red;
}
.mm{
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer{
    background-color: rgb(255, 0, 0);
}
#p1{
   text-align: center;
}
.pp{
    color: rgb(255, 0, 0);
}
#f-image{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 44%;
}
.z-image{
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  body{
      margin-bottom: 0;
      margin-right: 0;
      margin-left: 0;
      margin-top: 0;
  }
  .d-4{
      background-color: red;
      width: 31px;
      height: 30px;
  }
  .jc{
      display: flex;
      justify-content: center;
  }
  .ml{
      margin-left: 20px;
  }
  .mt{
      margin-top: 20px;
  }
  .jr{
      display: flex;
      justify-content: right;
  }
  .m-2{
      margin-left: 10px;
      margin-right: 10px;
  }
  .co-2{
    background-color: red;
    width: 50%;
  }
  .li{
      display: flex;
      flex-direction: column;
  }
  .fz-la{
      font-size: large;
      font-weight: bold;
  }
  .d-f-c{
      display: flex;
      flex-direction: column;
  }
  .mbb{
      margin-bottom: 5px;
  }
  .jrr{
      display: flex;
      justify-content: right;
  }
  .tr{
      text-align: right;
  }
  .dr{
      display: block;
      position: relative;
  }
  .d-5{
    border: 1px solid whitesmoke;
    width: 80%;
}
.cr{
    color: red;
}